html {
	
}

/* Classes and IDs */

#title {
	float: center;
	text-align: center;
}

/* DropDown Menu */

nav {
	font-family: Monoton;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: Green;
	padding: 0px 20px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: "";
	clear: both;
	display: block;
}

nav ul li {
	float: left;
}

nav ul li:hover a {
	color: white;
}

nav ul li a {
	display: block;
	padding: 25px;
	color: Gray;
	text-decoration: none;
}

nav ul ul {
	background: DarkCyan;
	padding: 0;
	position: absolute;
	top: 100%
}

nav ul ul li {
	float: none;
	position: relative;
}

nav ul ul li a {
	padding 15px 40px;
	color: white;
}

nav ul ul li a:hover {
	background: DarkSlateGray;
}

nav li:hover ul {
	display: block;
}
